<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/validate.css}"/>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card">
                <div class="card-header" align="center">
                        <span style="float: left">
                            <a th:href="@{/index}" href="#"><i class="fas fa-arrow-left"></i>index</a>
                        </span>
                    <span>標單輸入結果</span>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/validate}" method="post" th:object="${personVO}">
                        <fieldset disabled>
                            <div class="form-group"
                                 th:class='${#fields.hasErrors("pName")? "form-group has-error":"form-group"}'>
                                <label>名字</label>
                                <input type="text" class="form-control" th:field="*{pName}">
                            </div>
                            <div class="form-group"
                                 th:class='${#fields.hasErrors("pName")? "form-group has-error":"form-group"}'>
                                <label>電話</label>
                                <input type="text" class="form-control" th:field="*{pPhone}">
                            </div>
                            <div class="form-group"
                                 th:class='${#fields.hasErrors("pName")? "form-group has-error":"form-group"}'>
                                <label>手機</label>
                                <input type="text" class="form-control" th:field="*{pMobile}">
                            </div>
                            <div class="form-group"
                                 th:class='${#fields.hasErrors("pMobile")? "form-group has-error":"form-group"}'>
                                <label>地址</label>
                                <input type="text" class="form-control" th:field="*{pAddress}">
                            </div>
                            <div class="form-group"
                                 th:class='${#fields.hasErrors("pIdNumber")? "form-group has-error":"form-group"}'>
                                <label>id號碼</label>
                                <input type="text" class="form-control" th:field="*{pIdNumber}">
                            </div>
                            <div class="form-group"
                                 th:class='${#fields.hasErrors("pBirthday")? "form-group has-error":"form-group"}'>
                                <label>生日</label>
                                <input type="date" class="form-control" th:field="*{pBirthday}">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>