<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/validate.css}"/>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <form action="#" th:action="@{/validate}" method="post" th:object="${personVO}">
                <div class="card">
                    <div class="card-header" align="center">
                                <span style="float: left">
                                    <a th:href="@{/index}" href="#"><i class="fas fa-arrow-left"></i>back</a>
                                </span>
                        <span>Form表單驗證</span>
                        <span style="float: right">
                                    <span id="timer" style="color: red">##</span>
                                    <i class="far fa-clock"></i>
                                </span>
                    </div>
                    <div class="card-body">
                        <fieldset>
                            <div class="form-group"
                                 th:class='${#fields.hasErrors("pName")? "form-group has-error":"form-group"}'>
                                <label for="pName">名字</label>
                                <input type="text" class="form-control" th:field="*{pName}" placeholder="王大明">
                                <span class="help-block" th:if='${#fields.hasErrors("pName")}'
                                      th:errors="*{pName}"></span>
                            </div>
                            <div class="form-group"
                                 th:class='${#fields.hasErrors("pName")? "form-group has-error":"form-group"}'>
                                <label for="pPhone">電話</label>
                                <input type="text" class="form-control" th:field="*{pPhone}" placeholder="02-32343234">
                                <span class="help-block" th:if='${#fields.hasErrors("pPhone")}'
                                      th:errors="*{pPhone}"></span>
                            </div>
                            <div class="form-group"
                                 th:class='${#fields.hasErrors("pName")? "form-group has-error":"form-group"}'>
                                <label for="pMobile">手機</label>
                                <input type="text" class="form-control" th:field="*{pMobile}" placeholder="0987-654321">
                                <span class="help-block" th:if='${#fields.hasErrors("pMobile")}'
                                      th:errors="*{pMobile}"></span>
                            </div>
                            <div class="form-group"
                                 th:class='${#fields.hasErrors("pAddress")? "form-group has-error":"form-group"}'>
                                <label for="pAddress">地址</label>
                                <input type="text" class="form-control" th:field="*{pAddress}"
                                       placeholder="台北市板橋區縣民大道1號">
                                <span class="help-block" th:if='${#fields.hasErrors("pAddress")}'
                                      th:errors="*{pAddress}"></span>
                            </div>
                            <div class="form-group"
                                 th:class='${#fields.hasErrors("pIdNumber")? "form-group has-error":"form-group"}'>
                                <label for="pIdNumber">id號碼</label>
                                <input type="text" class="form-control" th:field="*{pIdNumber}"
                                       placeholder="E123456789">
                                <span class="help-block" th:if='${#fields.hasErrors("pIdNumber")}'
                                      th:errors="*{pIdNumber}"></span>
                            </div>
                            <div class="form-group"
                                 th:class='${#fields.hasErrors("pBirthday")? "form-group has-error":"form-group"}'>
                                <label for="pBirthday">生日</label>
                                <input type="date" class="form-control" th:field="*{pBirthday}">
                                <span class="help-block" th:if='${#fields.hasErrors("pBirthday")}'
                                      th:errors="*{pBirthday}"></span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" id="btnSubmit">檢查</button>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript" th:src="@{/webjars/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        let count = 0;
        setInterval(function () {
            $('#timer').text(count);
            count++;
        }, 1000)
    });
</script>
</body>
</html>