<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Form2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/validate.css}"/>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card">
                <div class="card-header" align="center">
                        <span style="float: left">
                            <a th:href="@{/index}" href="#"><i class="fas fa-arrow-left"></i>back</a>
                        </span>
                    <span>Form表單驗證ViaAjax</span>
                    <span style="float: right">
                            <span id="timer" style="color: red">##</span>
                            <i class="far fa-clock"></i>
                        </span>
                </div>
                <div class="card-body">
                    <form id="dataForm">
                        <fieldset>
                            <div class="form-group">
                                <label for="pName">名字</label>
                                <input type="text" class="form-control" id="pName" name="pName" placeholder="王大明">
                            </div>
                            <div class="form-group">
                                <label for="pPhone">電話</label>
                                <input type="text" class="form-control" id="pPhone" name="pPhone"
                                       placeholder="02-32343234">
                            </div>
                            <div class="form-group">
                                <label for="pMobile">手機</label>
                                <input type="text" class="form-control" id="pMobile" name="pMobile"
                                       placeholder="0987-654321">
                            </div>
                            <div class="form-group">
                                <label for="pAddress">地址</label>
                                <input type="text" class="form-control" id="pAddress" name="pAddress"
                                       placeholder="台北市板橋區縣民大道1號">
                            </div>
                            <div class="form-group">
                                <label for="pIdNumber">id號碼</label>
                                <input type="text" class="form-control" id="pIdNumber" name="pIdNumber"
                                       placeholder="E123456789">
                            </div>
                            <div class="form-group">
                                <label for="pBirthday">生日</label>
                                <input type="date" class="form-control" id="pBirthday" name="pBirthday">
                            </div>
                        </fieldset>
                    </form>
                    <button class="btn btn-primary btn-block" id="btnSubmit" onclick="checkData()">檢查</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" th:src="@{/webjars/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    const applicationRoot = /*[[@{/}]]*/;
    $(document).ready(function () {
        let count = 0;
        setInterval(function () {
            $('#timer').text(count);
            count++;
        }, 1000);
    });

    function checkData() {
        let formData = new FormData($('#dataForm')[0]);
        $('input').removeClass('has-error');
        $('.help-block').remove();
        $.ajax({
            url: "/validateViaAjax",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            dataType: 'json',
        }).done(function (res) {
            if (res.result) {
                window.open(applicationRoot + 'endPage', '_self');
            }
        }).fail(function (failRes) {
            console.log(failRes);
            if (failRes.status === 400) {
                failRes.responseJSON.errors.forEach(function (err) {
                    const $inputText = $('#' + err.field);
                    $inputText.after('<span class="help-block" >' + err.defaultMessage + '</span>');
                    $inputText.addClass('has-error')
                });
            }
        });
    }
</script>
</body>
</html>