<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>


</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="card col-md-6 mt-5">
            <div class="card-body">
                <h5 class="card-title" th:text="${greeting}">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="${subGreeting}">Card subtitle</h6>
                <p class="card-text"> click the following link ! </p>
                <a class="card-link" th:href="@{/showForm}">表單驗證</a>
                <a class="card-link" th:href="@{/showForm2}">表單驗證ByAjax</a>
                <a class="card-link" th:href="@{/showForm3}">email驗證ByAjax</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>