<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/validate.css}"/>
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <div class="card">
                    <div class="card-header" align="center">
                        <span style="float: left">
                            <a th:href="@{/index}" href="#"><i class="fas fa-arrow-left"></i>index</a>
                        </span>
                        <span>Email輸入結果</span>
                    </div>
                    <div class="card-body">
                        <form>
                            <fieldset disabled>
                                <div class="form-group" >
                                    <label>電子信箱</label>
                                    <input type="text" class="form-control"  th:value="${pEmail}">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>